@import "tailwindcss";

@theme {
  --color-accent: #ff5000;
  --color-accent-light: #ff50008f;
  --color-background: #FBFAF6;
  --font-theme: "Mulish", sans-serif;
}

body {
  color: #313131;
  /* width: 100dvw; */
  overflow-x: hidden;
}